{% extends "admin/base.html.twig" %}

{% block main %}

<div class="container row g-3 align-items-center">
<h2>Membre</h2>
{# <h2><a href="{{path('admin_user_show', {'id': user.id})}}">{{user.id}}</a></h2> #}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Rôle</th>
            <th scope="col">Mot de passe</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Civilité</th>
            <th scope="col">Date d'enregistrement</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {# <th scope="row">{{ user.id }}</th> #}
            <td>{{user.email}}</td>
            <td>Role</td>
            {# <td>{{user.roles}}</td> #}
            <td>{{user.password}}</td>
            <td>{{user.pseudo}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.prenom}}</td>
            <td>{{user.civilite}}</td>
            <td>Date</td>
            {# <td>{{user.dateEnregistrement}}</td> #}
            <td>
                <a href="{{ path('admin_update_user', {'id' : user.id } ) }}" style="color: black">
                <i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{{ path('admin_delete_user', {'id' : user.id}) }}" style="color: black">
                <i class="fa-solid fa-trash-can"></i></a>
            </td>
    </tbody>
</table>
</div>


{% endblock %}