{% extends "admin/base.html.twig" %}

{% block main %}

{{form_start(vehiculeForm)}}
<div class="container">
<h2>Ajouter un véhicules </h2>
    <div>
        {{form_label(vehiculeForm.titre, ' Titre :')}}
        {{form_widget(vehiculeForm.titre, {'attr':{'class':'form-control'}})}}
    </div>
    <div>
        {{form_label(vehiculeForm.marque, ' Marque :')}}
        {{form_widget(vehiculeForm.marque, {'attr':{'class':'form-control'}})}}
    </div>
    <div>
        {{form_label(vehiculeForm.modele, ' Modèle :')}}
        {{form_widget(vehiculeForm.modele, {'attr':{'class':'form-control'}})}}
    </div>
    <div>
        {{form_label(vehiculeForm.description, ' Description :')}}
        {{form_widget(vehiculeForm.description, {'attr':{'class':'form-control'}})}}
    </div>
    <div>
        {{form_label(vehiculeForm.photo, ' Photo :')}}
        {{form_widget(vehiculeForm.photo, {'attr':{'class':'form-control'}})}}
    </div>
    <div>
        {{form_label(vehiculeForm.prix_journalier, ' Prix :')}}
        {{form_widget(vehiculeForm.prix_journalier, {'attr':{'class':'form-control'}})}}
    </div>
    <div>
        {{form_label(vehiculeForm.dete_enregistrement, ' Date d\'enregistrement :')}}
        {{form_widget(vehiculeForm.dete_enregistrement)}}
    </div>
    <br>
    <div>
        {{form_widget(vehiculeForm.Enregistrer, {'attr':{'class':'bibi'}})}}
    </div>
</div>
{{form_end(vehiculeForm)}}

<style>
.bibi{
    background-color: white; 
    border-radius: 4px ;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.bibi:hover{
    background-color: #D0BEBB;
    color: white
}

</style>

{% endblock %}

{# ajouter du css #}