{% extends "front/base.html.twig" %}

{% block main %}

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">  

    <div class="container">
    <a class="navbar-brand" href="{{ path('app_front_acceuil')}}">Acceuil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                     <a class="nav-link" href="{{ path('vehicule_list')}}">Nos Véhicules<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                     <a class="nav-link" href="{{ path('app_logout')}}">Déconnexion<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<h2>Historiques des commandes</h2>


<div class="container row g-3 align-items-center">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Commande</th>
            <th scope="col">Véhicule</th>
            <th scope="col">Date et heure de départ</th>
            <th scope="col">Date et heure de fin</th>
            <th scope="col">Prix total</th>
            <th scope="col">Date et heure d'enregistrement</th>
        </tr>
    </thead>
    <tbody>
    {% for commande in commandes %}
        <tr>
            <th scope="row"><a href="{{ path('commande_show', {'id': commande.id } ) }}" style="color: black">{{ commande.id }}</a></th>
            <td>{{commande.idVehicule}}</td>
            <td>{{commande.dateHeureDepart}}</td>
            <td>{{commande.dateHeureFin}}</td>
            <td>{{commande.prixTotal}}</td>
            <td>{{commande.dateEnregistrement}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}