{% extends "front/base.html.twig" %}

{% block main %}

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">  

    <div class="container">
    <a class="navbar-brand" href="{{ path('app_front_acceuil')}}">Acceuil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                     <a class="nav-link" href="{{ path('commande_list')}}">Historiques des commandes<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                     <a class="nav-link" href="{{ path('app_logout')}}">Déconnexion<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h2>Listes des véhicules</h2>

<div class="container row g-3 align-items-center">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Véhicule</th>
            <th scope="col">Titre</th>
            <th scope="col">Marque</th>
            <th scope="col">Modèle</th>
            <th scope="col">Description</th>
            <th scope="col">Photo</th>
            <th scope="col">Prix</th>
        </tr>
    </thead>
    <tbody>
    {% for vehicule in vehicules %}
        <tr>
            <th scope="row"><a href="{{ path('vehicule_show', {'id' : vehicule.id } ) }}" style="color: black">{{ vehicule.id }}</a></th>
            <td>{{vehicule.titre}}</td>
            <td>{{vehicule.marque}}</td>
            <td>{{vehicule.modele}}</td>
            <td>{{vehicule.description}}</td>
            <td><img src="{{ asset("media/" ~ vehicule.media[0].src) }}" alt="{{ vehicule.media[0].alt }}"></td>
            <td><br>{{vehicule.prixJournalier}}€</td>
            
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div>
<a href="{{ path('commande_create')}}" class="btn btn-outline-secondary">Réserver un véhicule</a>
</div>

<style>
	img {
		width: 100px;
		height: 100px;
	}
</style>

{% endblock %}